<html>
    <form method="post">
        <a>Secret Key:</a>
        <input type="text" name="secretKey" value="{{ secretKey }}"><br/>
        <br>
        <input type="text" name="username">
        <input type="submit" value="S'authentifier">
    </form>
</html>